.hidden{
  display: none;
}

.box{
     border: 1px solid #2222dd;
     width: 600px; 
     height: 500px;
     margin: auto;
     position: relative;
   
}

#r1{
  background: yellow;

}

#r2{
  background: pink;
}

#r3{
  background: blue;
}

#r4{
  background: pink;
}

#counter{
  border: 1px solid black;
  width: 200px;
  margin:auto;
  height:300px;

}

.key{
  margin:auto;
  position:relative;
  border: 1px solid pink;
}

#surprise{
  background: green;
  width: 100px;
  margin:auto;
  height:100px;
}
